@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Rubik+Dirt&display=swap');
/*/  
cafe #2b2426
beige #d6c7c2
dorado #b08d57
rojo #8c2430
rojo oscuro #5a0f1b
/*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scrollbar-width: thin;
    scrollbar-color: #c4c8cc transparent;
}

body{
    background-color: #2b2426;
    margin-top: 89px;
}
header{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d6c7c2;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
}
nav{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

header img{
    width: 70px;
    padding: 10px;
}

.login{
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login a{
    font-size: normal;
    padding-left: 20px;
    font-family: "Changa One", sans-serif;
    font-weight: 400px;
    font-style: normal;
    color: #b08d57;
}

.search-box{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    text-align: start;
}

.formulario-contacto{
    width: 75%;
    background-color: #8c2430;
    justify-content: center;
    display: flex;
    padding: 15%;
}

.search-box input{
    margin-top: 25px;
    border: none;
    border-radius: 30px;
    color: #2b2426;
    font-family: "Changa One", sans-serif;
    background-color: #b08d57;
    padding: 10px;
    width: 90%;
    outline: none;
}

.slider-container{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.slider {
    display: flex;
    transition: transform 0.6s ease-in-out; 
}
.banner{
    min-width: 100%;
    height: auto;
}
.banner img{
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}

.texto{
    display: block;
    align-items: center;
    text-align: center;
}
.texto p{
    margin-top: 20px;
    font-size: x-large;
    padding-left: 20px;
    font-family: "Changa One", sans-serif;
    font-weight: 400px;
    font-style: normal;
    color: #b08d57;
}

.seccion2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.prod1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.prod2{
    width: 710px;
    height: 500px;
    background-color: black;
    overflow: hidden;
}

.cards{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    left: 150px;
    transition: transform 0.3s ease;
}

.cards2{
    width: 340px;
    height: 500px;
    overflow: hidden;
    background-color: black;
}

.img-cat{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    left: 100px;
    transition: transform 0.3s ease;
}

.cards:hover{
    transform: scale(1.2);
}

.img-cat:hover{
    transform: scale(1.2);
}

.productos{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.card{
    border-radius: 15px;
    width: 250px;
    margin-top: 30px;
    background-color: #b08d57;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.5);

}
.card img{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    
}
.card-body h1, p{
    font-size: small;
    font-family: "Roboto", sans-serif;
    font-weight: 400px;
    font-style: normal;
    padding: 3px;
}

.btn{
    position: relative;
    width: 120px;
    height: 40px;
    overflow: hidden;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    background-color: #2b2426;
    color: #b08d57;
    cursor: pointer;
    margin-bottom: 10px;

}

.btn-texto{
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.5s cubic-bezier(0.85,0,0.35,0.65);
}

.btn-logo{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 50%;
    transform: translate(-50%, 100px);
    transition: transform 0.5s cubic-bezier(0.75,1,0.36,0.22);
}
.btn:hover .btn-texto{
    transform: translateY(-80px);
}
.btn:hover .btn-logo{
    transform: translate(-50%, -50%);
}

footer{
    width: 100%;
}

.pie-pagina{
    background-color:#8c2430;
    padding: 20px;
    width: 100%;
    height: autos;
    display: flex;
    justify-content: space-between;
    margin-top: 50px; 
    padding-top: 25px;
}

footer{
    width: 100%;
    height: auto;
    background-color:#8c2430;
    
}
.footer1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px; 
}

.footer2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    height: auto;
    border-top: 2px solid;
    padding: 20px;
    margin: auto;
}
.pie-pagina{
    text-align: start;
    align-items: start;
    width: 100%;
    height: auto;
}

footer img {
    width: 80%;
    padding: 10px;
}

.pie-pagina a {
    font-size: normal;
    font-family: "Changa One", sans-serif;
    font-weight: 400px;
    font-style: normal;
    color: #b08d57;
}

.sobre-nosotros{
    color: #d6c7c2;
    font-family:"Changa One", sans-serif;
    font-size: x-large;
    text-align: justify;
    justify-content:center;
    margin-left: 176px;
    margin-right: 176px;
    padding: 0px 24px;

}

.sobre-nosotros img{
    width: 20%;
}

@media(max-width: 576px){
    *{
    margin: 0;
    padding: 0;
    }

    body{
        background-color: #211b1b;
    }

    .top_pagina{
        border-bottom: 3px solid #3c2727;
    }

    .top_pagina img{
        margin: 20px;
    }

    .top_pagina nav{
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 10px;
    }

    .top_pagina a{
        font-size: x-large;
        padding-left: 20px;
        font-family: "Changa One", sans-serif;
        font-weight: 400px;
        font-style: normal;
        color: rgb(255, 162, 0);
    }
    .productos{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .card{
        border: 2px solid black;
        width: 300px;
        margin-top: 30px;

    }
    .imagen{
        width: 250px;
    }
    .seccion2{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto;
    }
    .seccion2 .cards img{
        margin-top: 30px;
        width: 90%;
        height: auto;
        border-radius: 20px;

        transition: transform 0.3s ease;
    }
    .seccion2 .cards img:hover{
        transform: scale(1.05);
    }
}